<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <a href= <%= cats_url %>>
    <img src="http://www.clipartkid.com/images/594/animation-bundle-animated-cats-jumping-playing-and-running-around-see-xL5d9E-clipart.gif" alt="View cats" title="View cats" />
  </a>
  <a href= <%= cats_url %>>
    <img src="http://www.clipartkid.com/images/594/animation-bundle-animated-cats-jumping-playing-and-running-around-see-xL5d9E-clipart.gif" alt="View cats" title="View cats" />
  </a>
  <a href= <%= cats_url %>>
    <img src="http://www.clipartkid.com/images/594/animation-bundle-animated-cats-jumping-playing-and-running-around-see-xL5d9E-clipart.gif" alt="View cats" title="View cats" />
  </a>
  <a href= <%= cats_url %>>
    <img src="http://www.clipartkid.com/images/594/animation-bundle-animated-cats-jumping-playing-and-running-around-see-xL5d9E-clipart.gif" alt="View cats" title="View cats" />
  </a>

  <% unless current_user.nil? %>
    <h3> <%= current_user.username %> is logged in </h3>
    <%= button_to "Log out", session_url(current_user), class: "button", method: :delete %>
  <% else %>
    <%= button_to "Log in", new_session_url, class: "button", method: :get %>
  <% end %>

<%= yield %>

  <footer>
    This is our 99 Cats site. Please feel free to browse!

    <%= yield :footer %>
  </footer>
</body>
</html>
